<nav class="hover-gradient-nav">
  <ul>

    <li class="hn-item">
      <div class="hn-card">
        <a href="<%= root_path %>" class="hn-front">Home</a>
      </div>
    </li>

    <li class="hn-item">
      <div class="hn-card">
        <a href="<%= games_path %>" class="hn-front">Games</a>
      </div>
    </li>

    <li class="hn-item">
      <div class="hn-card">
        <a href="<%= events_path %>" class="hn-front">Events</a>
      </div>
    </li>

    <li class="hn-item">
      <div class="hn-card">
        <a href="<%= patches_path %>" class="hn-front">Patches</a>
      </div>
    </li>

    <% if user_signed_in? %>
      <li class="hn-item">
        <div class="hn-card">
          <a href="<%= dashboard_path %>" class="hn-front">Dashboard</a>
        </div>
      </li>
    <% else %>
      <li class="hn-item">
        <div class="hn-card">
          <a href="<%= new_user_session_path %>" class="hn-front">Login</a>
        </div>
      </li>
    <% end %>

  </ul>
</nav>
