<nav class="hover-gradient-nav" data-controller="hover-nav">
  <ul>

    <li class="hn-item">
      <div class="hn-card" data-hover-nav-target="item">
        <div class="hn-glow"></div>
        <a href="<%= root_path %>" class="hn-front">Home</a>
        <a href="<%= root_path %>" class="hn-back">Home</a>
      </div>
    </li>

    <li class="hn-item">
      <div class="hn-card" data-hover-nav-target="item">
        <div class="hn-glow"></div>
        <a href="<%= games_path %>" class="hn-front">Games</a>
        <a href="<%= games_path %>" class="hn-back">Games</a>
      </div>
    </li>

    <li class="hn-item">
      <div class="hn-card" data-hover-nav-target="item">
        <div class="hn-glow"></div>
        <a href="<%= events_path %>" class="hn-front">Events</a>
        <a href="<%= events_path %>" class="hn-back">Events</a>
      </div>
    </li>

    <li class="hn-item">
      <div class="hn-card" data-hover-nav-target="item">
        <div class="hn-glow"></div>
        <a href="<%= patches_path %>" class="hn-front">Patches</a>
        <a href="<%= patches_path %>" class="hn-back">Patches</a>
      </div>
    </li>

    <% if user_signed_in? %>
      <li class="hn-item">
        <div class="hn-card" data-hover-nav-target="item">
          <div class="hn-glow"></div>
          <a href="<%= dashboard_path %>" class="hn-front">Dashboard</a>
          <a href="<%= dashboard_path %>" class="hn-back">Dashboard</a>
        </div>
      </li>

    <% else %>
      <li class="hn-item">
        <div class="hn-card" data-hover-nav-target="item">
          <div class="hn-glow"></div>
          <a href="<%= new_user_session_path %>" class="hn-front">Login</a>
          <a href="<%= new_user_session_path %>" class="hn-back">Login</a>
        </div>
      </li>
    <% end %>

  </ul>
</nav>
