<nav class="navbar navbar-expand-sm navbar-gamebrief">
  <div class="container">
    <%= link_to games_path, class: "navbar-brand" do %>
      Game<span>Brief</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav ms-auto align-items-center gap-1">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Games", games_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-nav", alt: "Profile" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "btn btn-nav-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
