<div class="event-show">
  <div class="event-show__header container">
    <% gcal_url = "https://calendar.google.com/calendar/render?" + {
      action: "TEMPLATE",
      text: @event.title,
      dates: "#{@event.start_date.strftime('%Y%m%dT%H%M%SZ')}/#{(@event.start_date + 1.hour).strftime('%Y%m%dT%H%M%SZ')}",
      details: @event.description
    }.to_query %>
    <h1><%= @event.title %></h1>
    <div class="event-show__meta-row">
      <span class="event-show__badge">
        <i class="fa fa-calendar"></i>
        <%= @event.start_date.strftime("%d %b %Y") %>
      </span>
      <span class="event-show__badge">
        <i class="fa fa-gamepad"></i>
        <%= link_to @event.game.name, game_path(@event.game) %>
      </span>
    </div>
  </div>

  <div class="container">
    <% if @event.description.present? %>
      <p class="event-show__description"><%= @event.description %></p>
    <% end %>

    <h2 class="event-show__section-title">Add to Calendar</h2>
    <%= link_to gcal_url, target: "_blank", rel: "noopener noreferrer", class: "btn-gcal" do %>
      <i class="fa fa-calendar-plus-o"></i>
      Add to Google Calendar
    <% end %>
  </div>
</div>
