<div class="home-games container">
  <div class="home-games__search">
    <%= form_with url: games_path, method: :get, data: { turbo: false } do |f| %>
      <%= f.text_field :query, placeholder: "Search games...", value: params[:query], class: "home-games__search-input" %>
      <%= f.submit "Search", class: "home-games__search-btn" %>
    <% end %>
  </div>

  <h2 class="home-games__heading">Games</h2>
  <div class="home-games__grid" data-controller="glow-card">
    <% @games.each do |game| %>
      <%= link_to game_path(game), class: "game-card event-glow-card", data: { "glow-card-target": "card" } do %>
        <div class="game-card__cover">
          <% if game.cover_image.present? %>
            <%= image_tag game.cover_image, alt: game.name, class: "game-card__img" %>
          <% else %>
            <div class="game-card__placeholder">
              <i class="fa fa-gamepad"></i>
            </div>
          <% end %>
          <div class="game-card__overlay"></div>
        </div>
        <div class="game-card__body">
          <h3 class="game-card__name"><%= game.name %></h3>
          <span class="game-card__cta">View updates <i class="fa fa-arrow-right"></i></span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
